.active {
	color: #bdc3c7;
}
.white {
	color: #ecf0f1 !important;
}
.blue {
	color: #8ed1ff !important;
}
.nav-text {
	color: #ecf0f1 !important;
}
.nav-text:hover {
	color: #bdc3c7 !important;
}
.nav-transition {
	transition: background-color .1s ease 0s;
}
.testingtest {
	margin: auto;
}
.testingtest img {
	margin-left: auto;
	margin-right: auto;
	position: absolute;
}
.background-black {
	background: #000000;
}
.icon-color {
	color: #212529 !important;
}
.icon-color:hover {
	color: #ffffff !important;
}
.background-cover {
	object-fit: cover;
	overflow: hidden;
}

.container-full {
	margin: 0 auto;
	padding: 0 auto;
	width: 100%;
}

.h-75 {
	height: 75%;
}

.w-half {
	width: 49%;
}

.constrain-img {
	max-width: 100%;
	height: auto;
}

.container-notfull {
	padding: 15px;
	width: 100%;
}

.black-text {
	color: #000000 !important;
}
